
.card {
    width: 300px;
    border: 2px solid black;  
    background-color: #f2f2f2e0; 
    padding: 30px;   
    margin: 100px ;  
   
}


.card img {
    width: 80px;   
    height: 80px; 
      border: 2px solid black;   
    margin-bottom: 20px;
}
.card button {
    width: 100px;             
    background-color: powderblue; }
 