
.calendar-title {
    text-align: center;      
    font-size: xx-large;          
    margin-bottom: 20px;    

    color: #004af7e2;            
}


.card {

 height: 610px;
  width: 500px; 
    border: 1px solid rgb(0, 0, 0);
    border-top-right-radius: 10px;
border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
margin: auto;


}
.card img {
    
  height: 300px;
  width: 500px;   
    height: 300px; 
      border: 1px solid black; 
       border-top-right-radius: 10px;
border-top-left-radius: 10px;     
}


.calendar {
  height: 650px;
  width: 500px;
    padding: 10px;
    text-align: center;
 
}


.days  {
font-size: xx-large;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
     font-weight: bold;
    text-align: center;
    margin: auto;
    padding: 10px;;
}

.dates{
  display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 10px ;
   font-size: x-large;
   row-gap: 20px;
 
}

.off{


    color: red;
    font-weight: bold;
}
